/* ==========================================================================
   BASE HEADER STYLES
   ========================================================================== */

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 65px;
    background: $white;
}

.header__wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: $white;
}

/* ==========================================================================
   LOGO SECTION
   ========================================================================== */

.header__crest {
    display: flex;
    align-items: center;
    justify-items: space-between;
    height: 100%;
    margin: 0 10px;
}

.header__crest--dual {
    .header__logo-climate {
        margin-left: 30px;
        padding-left: 30px;
        border-left: 2px solid $gray;
    }
}

.header__logo-utas {
    img {
        width: 100%;
        
        @media (max-width: 768px) {
            height: 50px;
        }
    }
}

.header__logo-climate {
    img {
        width: 100%;
        
        @media (max-width: 768px) {
            height: 45px;
        }
    }
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.header__nav {
    display: none;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: row;
    }
    
    li a {
        padding: auto;
    }
}

.secondary-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-top: 25px;
    margin-right: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    
    .nav__item {
        padding-left: 24px;
        padding-right: 24px;
        
        a {
            text-decoration: none;
            color: rgb(100, 100, 100);
            font-family: "Monserrat", sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            
            &:hover {
                color: $primary-color;
            }
        }
    }
}


.main-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-right: 16px;

    .nav__item {
        margin: 0 15px;
        padding-left: 24px;
        padding-right: 24px;
        
        a {
            text-decoration: none;
            color: $black;
            font-family: "Monserrat", sans-serif;
            font-size: 12px;
            font-weight: 600;
            
            &:hover {
                color: $primary-color;
            }
        }
    }
}

/* ==========================================================================
   HAMBURGER MENU
   ========================================================================== */

.hamburger {
    border: none;
    background: $white;
    aspect-ratio: 1 /1 ;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger--active {
    opacity: 0;
}

.hamburger__container {
    width:36%;
    aspect-ratio: 1 /1 ;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger__icon {
    display: block;
    width: 50%;
    height: 3px;
    background-color: $black;
    position: relative;
    transition: all 0.3s ease;
    left: -10px;
    margin: 0;

    &::before {
        content: '';
        display: block;
        width: 200%;
        height: 3px;
        background-color: $black;
        position: absolute;
        top: -8px;
        left: 0;
        transition: all 0.3s ease;
    }

    &::after {
        content: '';
        display: block;
        width: 200%;
        height: 3px;
        background-color: $black;
        position: absolute;
        top: 8px;
        left: 0;
        transition: all 0.3s ease;
    }
}

/* ==========================================================================
   SEARCH COMPONENT
   ========================================================================== */

.search {
    border: black 2px solid;
    background: $black;
    height: 65px;
    width: 65px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__container {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__icon {
    width: 30px;
    height: 38px;
    display: block;
    transition: all 0.3s ease;
    filter: invert(100%);
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media screen and (min-width: $tablet) {
    .header {
        height: $tablet-header;
      
        .header__crest {
            flex-basis: 500px;
        }
    }

    .header__crest {
     flex-basis: 500px;
    }
    
    .hamburger {
        width: $tablet-header;
    }
    
    .search {
        height: $tablet-header;
        width: $tablet-header;
    }
}

@media screen and (min-width: $desktop) {
    .header {
        position: absolute;
        top: 14px;
        height: $desktop-header;
    }
    
    .hamburger {
        display: none;
    }

    .header__crest.header__crest--dual{
        margin-left: 30px;
        flex-basis: 630px;
    }

    .main-menu {
        margin-bottom: 0;
    }   

    .header__nav {
        display: flex;
        align-items: center;
        height: 100%;
        ul {
            display: flex;
            height: 100%;
        }
    }

    .search {
        height: $desktop-header;
        width: 95px;
    }   
}





