

.hero-banner{
    position: relative;
    overflow: hidden;
    min-height: 553px;
    display:block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 74%);
        opacity: 0.5;
  }
}

.hero-banner__video-container{
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%); 
  filter: saturate(120%);
  overflow: hidden;
}

.hero-banner__video {
    display: block;
    min-height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: $tablet){
    .hero-banner {
        min-height: 665px;
    }
    .hero-banner-video__control{
        right: 40px;
        bottom: 48px;
    }
}