

.hero-banner{
    position: relative;
    overflow: hidden;
    min-height: 553px;
    display:block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
  }
}

.hero-banner__video-container{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%); 
  filter: saturate(120%);
  overflow: hidden;
}

.hero-banner__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-banner__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner__title{
    font-family: $font-family-primary;
    color: $white;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.15813rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

@media screen and (min-width: $tablet){
    .hero-banner{
        height: 665px;
    }
    .hero-banner-video__control{
        right: 40px;
        bottom: 48px;
    }
}

@media screen and (min-width: $desktop) {
    .hero-banner{
        min-height: 686px;
    }
}

.hero-banner__button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: transparent; 
}



.hero-banner__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.hero-banner__icon--play {
    display: none;
}

.hero-banner__icon--pause {
    display: block;
}

.hero-banner__button:not(.is-playing) .hero-banner__icon--play {
    display: block;
}

.hero-banner__button:not(.is-playing) .hero-banner__icon--pause {
    display: none;
}