/* Fonts */
.public-sans-400 {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.public-sans-500 {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-400 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-500 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 74px;
    font-weight: 600;
    line-height: 84px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}