*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: $black;
    background-color: $page-bg;
    overflow-x: hidden;
}

main {
    display: block;
}

.page_wrapper {
    position: relative;
    background: $page-bg;
}

img {
    max-width: 100%;
    height: auto;
}

/* ====================
   TYPOGRAPHY
   ==================== */

h1{
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.24;
    letter-spacing: -1px;
}

button{
    font-family: inherit;
    cursor: pointer;
}

a {
  color: $secondary-color;
  font-weight: 500;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: $primary-color;
  }
}



// Float classes  (from utas.edu.au /styles/imports/utilities.scss)
.pull-left {
  float: left;
}
img.pull-left {
  margin-right: 1em;
}

.pull-right {
  float: right;
}
img.pull-right {
  margin-left: 1em;
}


.search_bar{
  display: flex;
  position: relative;
  margin: 0px 15px;
  height: 75px;
  top: -37.5px;
  border: 1px solid $gray;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.281);
  font-size: 16px;
  background-color: white;

}

.search_bar_input {
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
}

.search_text{
  flex: 1;
  padding: 25px;
  border: none;
  font-size: 16px;

  margin: 25px 0px 25px 0px;
}


.search_button {
  height: 100%;
  width: 68px;
  background-color: $white;

  .search-toggle__icon {
    display: block;
    
    &::before {
      font-family: 'Material Symbols Outlined';
      content: "search";
      font-size: 24px;
      position: static;  // Or adjust positioning for this context
    }
  }
}

