/* Variables */

$mobile: 480px;
$mobile-header: 65px;

$tablet: 768px;
$tablet-header: 75px;

$desktop: 1280px;
$desktop-header: 115px;

// Colours (from utas.edu.au /styles/imports/variables.scss)
$black: black;
$gray: #929292;
$white: white;

$primary-color: #e42313;
$secondary-color: $black;

$page-bg: #fcfcfc;
$footer-color: $black;



// Typography
$font-family-primary: 'Montserrat', sans-serif;

