/* Variables */

$desktop: 992px;
$desktop-large: 1440px;

$black: #000;
$white: #fff;
$green-03: #A8EDB3;
$teal-01: #0B3F47;
$teal-02: #2E808E;
$grey-01: #22272B;
$grey-02: #495054;
$grey-03: #CDD3D6;

h2 {
    color: $green-03;
}