<header class="header"> 
    <div class="header__wrapper"> 
    
        <button class="hamburger" aria-controls="main-menu" aria-expanded="false">
            <div class="hamburger__container">
                <span class="hamburger__icon"></span>
            </div>
        </button>

        
        <div class="header__crest header__crest--dual">
            <div class="header__logo-utas">
                <a href="/">
                    <img src="images/logo.svg" alt="Company Logo">
                </a>
            </div>
            <div class="header__logo-climate">
                <a href="/">
                    <img src="images/logo-climate-action.svg" alt="Climate Logo">
                </a>
            </div>
        </div>

        <div class="pull-right">
        <div class="header__menus">
            <div class="secondary-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">I'm Interested in the uni</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Login</a></li>
                </ul>
            </div>
            <div class="main-menu">
                <ul class="nav__list">
                    <li class="main-menu__btn"><a href="#" class="nav__link">Study with us</a></li>
                    <li class="main-menu__btn"><a href="#" class="nav__link">Uni life</a></li>
                    <li class="main-menu__btn"><a href="#" class="nav__link">Our research</a></li>
                    <li class="main-menu__btn"><a href="#" class="nav__link">For community & partners</a></li>
                    <li class="main-menu__btn"><a href="#" class="nav__link">About us</a></li>
                </ul>
            </div>
            
        </div>

        <div class="header__actions">
            <button class="search" aria-controls="search-bar" aria-expanded="false">
                <div class="search__container">
                    <img src="images/Search_Icon.svg" alt="Search" class="search__icon">
                </div>
            </button>
        </div>
        </div>

    </div>
</header>